<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>getlyrics by blha303</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/github-dark.css">
    <script src="javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>getlyrics</h1>
        <p>A Python program which gets the lyrics for a song and outputs them to stdout</p>
        <p class="view"><a href="https://github.com/blha303/getlyrics">View the Project on GitHub <small>blha303/getlyrics</small></a></p>
        <ul>
          <li><a href="https://github.com/blha303/getlyrics/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/blha303/getlyrics/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/blha303/getlyrics">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
{{ content }}
      </section>
    </div>
    <footer>
      <p>Project maintained by <a href="https://github.com/blha303">blha303</a></p>
      <p>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></p>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
              <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-36017987-6");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>

  </body>
</html>
